

.link_active {
  color: #f5f5f5;
  background-color: #5100ff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}


.link_{
    color: #6215b4;
    background-color: #5100ff10;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}