
.btn_picash {
    background: #5D24FF;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    padding: 0.8rem 1rem;
    text-decoration: none;
    border: 1px solid #ebebeb;
    width: 84%;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 345px;
    outline: 0px solid #5e24ff00;
    outline-offset: 1px ;
   
}

.btn_picash:hover {
    background: #fcfcfc31;
    color: #5D24FF !important;
    
    outline: 3px solid #8f69f8;
    outline-offset: 3px ;
    text-decoration: none;
   
    cursor: pointer;
    transition: all 0.19s ease;
}



.btn_picash:hover {
    background: #fcfcfc31;
    color: #ffffff;
    
    outline: 3px solid #8f69f8;
    outline-offset: 3px ;
    text-decoration: none;
   
    cursor: pointer;
    transition: all 0.19s ease;
}